.game-board {
    min-height: 650px;
    height: 68vh;
    margin: 20px 8%;
    padding: 20px;
    box-shadow: 0 0 27px rgb(0 0 0 / 50%);
    border-radius: 12px;
    background-color: #477148;
    position: relative;
}

.card-deck {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.card-deck-points {
    position: absolute;
    bottom: 0;
    right: 50px;
    font-size: 50px;
}

.card-deck-bet {
    position: absolute;
    bottom: 60px;
    border: 1px solid black;
    padding: 30px 30px;
    background-color: black;
}

.split-hand-card-deck {
    display: flex;
    justify-content: center;
    position: relative;
}

.game-card {
    padding: 0 5px;
    width: 134px;
    height: 193px;
    animation: adjust 1s forwards;
}

@keyframes adjust {
    to {transform: translate(0px, 0px);}
}

.money-area {
    padding: 30px 50px;
    border: 1px solid black;
}

.dealer-area, .middle-area, .player-area {
    display: flex;
    flex-direction: row;
}

.middle-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.player-area {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
}

.game-board-button-area {

}

.money-area-wrapper {
    position: relative;
}

.bet-money-area, .player-money-area {
    position: absolute;
    top: 0;
}

.bet-money-area {
    left: 15%;
    top: 33%;
}

.player-money-area {
    right: 20px;
    top: -90px;
}

.player-symbol {
    height: 80px;
    display: flex;
    justify-content: center;
}

.player-symbol-wrapper {
    position: relative;
}

.player-symbol-name {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: var(--font-family-sans-serif);
    color: white;
}

.player-symbol-icon {
    color: #00000073;
}

.result-card-number {
    padding: 10px;
    font-weight: 700;
}

.card-stack-area {
    padding: 20px;
    margin-top: -70px;
}

.card-stack {
    min-height: 193px;
    padding-bottom: 15px;
}

.card-stack-image {
    margin-right: -126px;
    width: 124px;
    height: 195px;
}